<h1>
  {{title}}
  <button class="btn btn-danger pull-right" onclick="window.history.back()">
    Повернутись
    <span class="glyphicon glyphicon-menu-right"></span>
  </button>
</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Фото</th>
    <th>Назва</th>
    <th>Опис</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let place of places | async">
    <td><img class="img-responsive img-rounded" src="{{img_src}}/1.png" style="height: 100px; width: 100px"></td>
    <td>{{place.photo}}</td>
    <td>{{place.name}}</td>
    <td>{{place.description}}</td>
    <td>
      <button class="btn btn-info pull-right" routerLink="{{place.id}}">Переглянути</button>
    </td>
  </tr>
  </tbody>
</table>
