<h1>
  {{title}}
  <button class="btn btn-danger pull-right" onclick="window.history.back()">
    Повернутись
    <span class="glyphicon glyphicon-menu-right"></span>
  </button>
</h1>

<table class="table">
  <thead>
  <tr>
    <th>
      Інформація про розробника
    </th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Харабарук Наталія Романівна
      </td>
    </tr>
    <tr>
      <td>
        Студентка ВПМ-11
      </td>
    </tr>
    <tr>
      <td>
        Інститут комп'ютерних наук та інформаційних технологій
      </td>
    </tr>
    <tr>
      <td>
        Кафедра інформаційних технологій видавничої справи
      </td>
    </tr>
    <tr>
      <td>
        Комп`ютеризовані засоби та технології інформаційно-видавничих систем
      </td>
    </tr>
    <tr>
      <td>
        <b>Викладач:</b> Кинаш Юрій Євстахович
      </td>
    </tr>
    <tr>
      <td>
        <b>Використані технології:</b> Java 8, Spring Boot, Spring Data REST, Angular 4, Bootstrap, MySQL, Lombok
      </td>
    </tr>
  </tbody>
</table>
