<h1>
  {{title}}
  <button class="btn btn-danger pull-right" onclick="window.history.back()">
    Повернутись
    <span class="glyphicon glyphicon-menu-right"></span>
  </button>
</h1>

<div class="col-md-10">
  <div class="panel panel-success">
    <div class="panel-heading">Інформація про розробника</div>
    <ul class="list-group">
      <li class="list-group-item"><b>Харабарук Наталія Романівна</b></li>
      <li class="list-group-item">Студентка ВПМ-11</li>
      <li class="list-group-item">Інститут комп'ютерних наук та інформаційних технологій</li>
      <li class="list-group-item">Кафедра інформаційних технологій видавничої справи</li>
      <li class="list-group-item">Комп`ютеризовані засоби та технології інформаційно-видавничих систем</li>
      <li class="list-group-item"><b>Викладач:</b> Кинаш Юрій Євстахович</li>
      <li class="list-group-item">
        <b>Використані технології:</b> Java 8, Spring Boot, Spring Data REST, Angular 4, Bootstrap, MySQL, Lombok
      </li>
    </ul>
  </div>

  </div>
