<script src="reservation.component.spec.ts"></script>
<h1>
  {{title}}
  <button class="btn btn-danger pull-right" onclick="window.history.back()">
    Повернутись
    <span class="glyphicon glyphicon-menu-right"></span>
  </button>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Дата заселення</th>
      <th>Кількість днів</th>
      <th>Кількість осіб</th>
      <th>Дата операції</th>
      <th>Опис</th>
      <th>Переглянути</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations | async">
      <td>{{reservation.checkInDate}}</td>
      <td>{{reservation.dayCount}}</td>
      <td>{{reservation.personCount}}</td>
      <td>{{reservation.operationDate}}</td>
      <td>{{reservation.description}}</td>
      <td><div class="btn" routerLink="{{
        reservation._links.reservation.href.substring(
        reservation._links.reservation.href.lastIndexOf('/') + 1,
        reservation._links.reservation.href.length)}}">Перейти</div></td>
    </tr>
  </tbody>
</table>
