<script src="reservation.component.spec.ts"></script>
<h1>
  {{title}}
  <button class="btn btn-danger pull-right" routerLink="/houses">
    Забронювати ще
    <span class="glyphicon glyphicon-menu-right"></span>
  </button>
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Дата заселення</th>
      <th>Кількість днів</th>
      <th>Кількість осіб</th>
      <th>Дата операції</th>
      <th>Опис</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reservation of reservations | async">
      <td>{{reservation.checkInDate}}</td>
      <td>{{getDayCount(reservation.checkOutDate,reservation.checkInDate)}}</td>
      <td>{{reservation.personCount}}</td>
      <td>{{reservation.operationDate}}</td>
      <td>{{reservation.description}}</td>
      <td><div class="btn" routerLink="{{reservation.id}}">Переглянути</div></td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-md-8">
    <app-confirm></app-confirm>
  </div>
</div>

<router-outlet></router-outlet>
